{{range $day := .Data}}
<div
        class="block xl:block w-full xl:w-1/5 mb-4 py-6 px-3 day{{if $day.IsToday}} sm:visible{{else}} hidden{{end}}"
        data-day="{{ $day.Date }}"
        data-next-day="{{ $day.NextDate }}"
        data-previous-day="{{ $day.PreviousDate }}"
>
    <div class="w-full flex flex-row items-center mb-8 relative">
        <div class="block xl:hidden w-8{{$prevDateLength := len $day.PreviousDate}}{{if lt $prevDateLength 1}} hidden{{end}}">
            <button class="day-switcher" data-switch-direction="back">
                <img class="w-full" src="../assets/images/arrow-left.svg" />
            </button>
        </div>
        <div class="flex-1">
            <h2 class="text-2xl text-center">{{ .Name}}</h2>
            <h3 class="text-xl text-center">{{ .Date}}</h3>
        </div>
        <div class="block xl:hidden w-8{{$nextDateLength := len $day.NextDate}}{{if lt $nextDateLength 1}} hidden{{end}}" data-switch-direction="back">
            <button class="day-switcher" data-switch-direction="forward">
                <img class="w-full" src="../assets/images/arrow-right.svg" />
            </button>
        </div>
    </div>
    {{ range $groupIndex, $group := $day.GroupingOrder }}
        <div class="mt-6 block relative">
            <div class="text-lg mb-2 text-left">{{ $group }}</div>
        </div>
        {{ range index $day.Entries $group }}
            <div class="mt-6 block relative">
                <div class="w-full p-3 rounded shadow-md bg-white programm-box">
                        <div class="programm-stripe bg-{{ .Color }}"></div>
                        <div class="flex flex-row w-full">
                            <div class="flex-1 flex flex-col justify-around">
                                <div class="text-xl mb-auto break-words">{{ .Name }}</div>
                                <p class="mt-2 font-nunito">{{ .Description }}</p>
                                <div class="mt-2">{{ .ResponsiblePersons }}</div>
                            </div>
                            <div class="w-9">
                                <img class="w-full" src="../assets/images/{{ .Icon }}.svg" />
                            </div>
                        </div>
                    </div>
            </div>
        {{ end }}
    {{ end }}
</div>
{{end}}